@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 25%;
  height: 25%;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #064e3b;
  border-radius: 2px;
}
